
/*****Inizio regole colore*****/
:root{
    --nuove_uscite_bg_color: rgb(31, 31, 31);
    --PS_plus_bg_color: rgb(190, 188, 187);
    --PS_now_bg_color: rgb(22, 28, 59);
    --footer_now_bg_color: rgb(0, 67, 156);
}

#nuove-uscite{
    background-color: var(--nuove_uscite_bg_color);
}
#PS-plus{
    background-color: var(--PS_plus_bg_color);
}

#PS-Now{
    background-color: var(--PS_now_bg_color);
}

#Contatti{
    background-color: var(--footer_now_bg_color);
}

/*****Fine regole colore*****/


 



/*******regole custom******/ 

#jambo_bottom{
    margin: 2rem 0;
}


#sie-logo{
    height: 50px;
    width: 50px;
}


#contatti ul li .nav-item{
    color: white;
}

.map-mondo{
    height: 15px;
}

.Region{
    font-size: 10px;
    display: inline-block;
}
#jambo_bottom{
    background-color: var(--nuove_uscite_bg_color);
}

/*******regole custom******/ 





/******regole di hover******/

#menu  .active{
    outline: solid 2px blue;
    outline-offset: 5px;
    


}








/******regole di hover******/











/*
.jambo_img{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    height: 100px;
    
}*/




/**** regole debug******/
.debug.container{
    border: 7px dotted rgb(184, 14, 14);
}

.debug.col{
    border: 2px dotted black;
  
}

.debug #Contatti{

   border: 2px solid blue;
   margin-top: 100px; 
}

.debug .menu_ps5, .menu_ps4{
 border: 3px solid black;

}
.debug .box{
    height: 100px;
     width: 100px;
     background-color: rgba(0, 0, 0, 0.541);
}
.debug .col{
    border:3px dotted rgb(158, 15, 15);
}



/**** regole debug******/
